{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Licorera Los J {% block titulo %} {% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/form-styles.css' %}">
    </head>
    <body>
        <nav>
            <div class="nav-logo"><img src="{% static 'img/logo.png' %}" alt="Logo" height="50px" width="50px">LICORERA LOS J</div>
            <ul class="nav-menu">
                <li><a href="{% url 'index' %}">INICIO</a></li>
                <li><a href="{% url 'cobertura' %}">COBERTURA</a></li>
                <li><a href="{% url 'catalogo' %}">CATALOGO</a></li>
                {% if request.session.sesion and request.session.sesion.cuenta == '1' %}
                    <li><a href="{% url 'productos' %}">PRODUCTOS</a></li>
                    <li><a href="{% url 'usuarios' %}">USUARIOS</a></li>
                {% endif %}
            </ul>
            {% if request.session.sesion %}
                Bienvenido: {{ request.session.sesion.nombre }}
                <div class="nav-icons">
                    <div class="dropdown">
                        <button id="p" class="dropdown-button"><i class="fa-solid fa-user"></i> Perfil</button>
                        <div class="dropdown-content">
                            <a href="">Configuración</a>
                            <a href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>
                    </div>
                    <a href="#" class="icon-cart" id="cartButton">
                        <i class="fa-solid fa-cart-shopping"></i> Carrito
                        <span id="cartCount">0</span>
                    </a>
                    <div id="cartMenu" class="cart-menu">
                        <div class="cart-header">
                            <h4>Tu Carrito</h4>
                            <button id="closeCartMenu" class="close-cart">&times;</button>
                        </div>
                        <div class="cart-content">
                            <!-- Aquí se cargarán los productos dinámicamente -->
                        </div>
                        <div class="cart-footer">
                            <p class="total-price">Total: $0</p>
                            <a href="{% url 'compra' %}" class="btn btn-primary">Ir al carrito</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nav-icons">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="dropdown">
                        <button type="button" id="p" class="btn dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            Iniciar sesión
                        </button>
                        <form class="dropdown-menu p-4" id="loginForm" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="cuenta" class="form-label">Email</label>
                                <input type="email" class="form-control" id="cuenta" name="cuenta" placeholder="email@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="contrasena" placeholder="Password" required>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                    <label class="form-check-label" for="dropdownCheck2">
                                        Acordarse de mí
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <a class="btn btn-secondary" href="{% url 'register' %}">Registrar</a>
                            <a class="dropdown-item" href="#">¿Olvidaste tu contraseña?</a>
                        </form>
                    </div>
                    <a href="#" class="icon-cart" id="cartButton">
                        <i class="fa-solid fa-cart-shopping"></i> Carrito
                        <span id="cartCount">0</span>
                    </a>
                    <div id="cartMenu" class="cart-menu">
                        <div class="cart-header">
                            <h4>Tu Carrito</h4>
                            <button id="closeCartMenu" class="close-cart">&times;</button>
                        </div>
                        <div class="cart-content">
                            {% if productos %}
                            <p>hola mundo</p>
                                {% for p in pc %}
                                    {% for pp in productos %}
                                        {% if p == pp %}
                                            <div class="cart-item">
                                                <img src="{{ pp.foto.url }}" alt="{{ pp.nombre_producto }}">
                                                <div class="cart-item-details">
                                                    <h5>{{ pp.nombre_producto }}</h5>
                                                    <p>Precio: ${{ pp.precio }}</p>
                                                    <p>Cantidad: {{ p.cantidad }}</p>
                                                </div>
                                            </div>
                                        {%endif%}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <p>No hay productos en el carrito.</p>
                            {% endif %}
                            <!-- Aquí se cargarán los productos dinámicamente -->
                        </div>
                        <div class="cart-footer">
                            <p class="total-price">Total: $0</p>
                            <a href="{% url 'compra' %}" class="btn btn-primary">Ir al carrito</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </nav>

        <div class="main-content">
            {% block cuerpo %}
                
            {% endblock %}  
        </div>
    </body>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>LICORERA LOS J</h3>
                <p>Tu destino para las mejores bebidas y licores.</p>
            </div>
            <div class="footer-section">
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Email: contacto@licoreralosj.com</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Dirección: Calle Principal #123</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/funconalidad.js' %}"></script>
</html>