    <div class="footer-content">
        <div class="footer-section">
            <h3>LICORERA LOS J</h3>
            <p>Tu destino para las mejores bebidas y licores.</p>
        </div>
        <div class="footer-section">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4>
            <p>Email: contacto@licoreralosj.com</p>
            <p>Teléfono: (123) 456-7890</p>
            <p>Dirección: Calle Principal #123</p>
        </div>
    </div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/funconalidad.js' %}"></script>