<%- include('../partials/base'); %>

<form action="" method="post" class="card m-auto mt-8 col-3 p-3">
    {% csrf_token %}
    <h4>Cambia la contrase単a</h4>
    <input name="clave_actual" type="password" placeholder="Contrase単a actual" class="form-control mb-4"><br>

    <input name="nueva" type="password" placeholder="Contrase単a nueva" class="form-control mb-1"><br>
    <input name="repite_nueva" type="password" placeholder="Repita contrase単a" class="form-control mb-1"><br>

    <button type="submit" class="btn btn-info">Guardar</button>
</form>