<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Licorera Los J {% block titulo %} {% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <a href="{% url 'agregar_productos' %}" class="btn btn-success mb-3">Agregar Producto</a>
        {% if data %}
            <div class="table-responsive">
                <table class="table table-dark table-striped table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Medidas</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% productos.forEach(function(producto) { %>
                        <tr>
                            <td><% producto.id %></td>
                            <td><% producto.nombre_producto %></td>
                            <td><% producto.get_tipo_producto_display %></td>
                            <td><% producto.medidas %></td>
                            <td>$<% producto.precio %></td>
                            <td><% producto.descripcion %></td>
                            <td><% producto.cantidad %></td>
                            <td>
                                <!-- <div class="d-flex justify-content-center gap-2">
                                    <a href="javascript:confirmar_eliminar(`{% url 'eliminar_productos' producto.id %}`);" class="btn btn-danger btn-sm">Eliminar</a>
                                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'facturas' %}" class="btn btn-secondary btn-sm">ver Factura</a>
                                </div> -->
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                No hay productos registrados aún.
            </div>
        {% endif %}
    
    {% endblock %}